* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

*:focus {
  outline: 0;
}

html {
  /*background-color: olive;*/
  background: url(/images/Royal.Botanic.Gardens.Melbourne2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

label {
  display: block;
}

form {
  clear: both;
  display: inline-block;
}

button {
  font-size: 1em;
  height: 2em;
  color: snow;
  background-color: black;
  border: none;
  cursor: pointer;
}

h2, h3, p {
  display: block;
  color: snow;
}

h2 {
  margin: 0;
  margin-bottom: .2em;
}

h4 {
  margin: 0;
  margin-bottom: .3em;
  margin-top: .3em;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

textarea {
  width: 100%;
}

.wrapper {
  margin: 0 auto;
  width: 80%;
}
.wrapper h1 {
  margin-bottom: .1em;
  color: snow;
}

.web-title {
  margin: 0 auto;
  max-width: 44em;
  width: 100%;
  overflow: auto;
}

.header {
  float: right;
}

.layout-box {
  margin: 0 auto;
  margin-bottom: 5em;
  padding: 1em;
  max-width: 44em;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  overflow: auto;
  border-radius: .5em;
  -webkit-box-shadow: 11px 11px 32px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: 11px 11px 32px -9px rgba(0,0,0,0.75);
  box-shadow: 11px 11px 32px -9px rgba(0,0,0,0.75);
}

.input-box {
  display: block;
  float: right;
}

.tree-box {
  float: left;
  /*background-color: snow;*/
  max-width: 12em;
  height: 18em;
  /*margin: 0 auto;*/
  margin: .5em;
  border-radius: .5em;
  text-align: center;

}

.tree-photo {
  width: 12em;
  max-height: 16em;
  -webkit-box-shadow: 11px 12px 20px -12px rgba(0,0,0,0.75);
  -moz-box-shadow: 11px 12px 20px -12px rgba(0,0,0,0.75);
  box-shadow: 11px 12px 20px -12px rgba(0,0,0,0.75);
}

.index-icon {
  width: 2em;
  height: 2em;
  display: block;
  float: right;
  border-radius: .5em;
  border: .1em solid white;
}

.photo-icon {
  width: 2em;
  height: 2em;
  display: block;
  float: left;
  border-radius: .5em;
  border: .1em solid white;
  margin-right: .5em;
}

.tree-image {
  position: relative;
  z-index: 1;
}

.tree-image-icon {
  position: absolute;
  z-index: 2;
  left: .4em;
  top: .4em;
}

.title-bar {
  display: block;
  /*float: left;*/
  margin-bottom: 1em;
  width: 70%;
}

.title-bar button {
  background: none;
  border: none;
  color: white;
  padding: 0;
  margin: 0;
  margin-left: 1em;
}

.title-bar button:focus {
  outline: 0;
}

.title-bar h2 {
  display: block;
  float: left;
}

.date {
  display: block;
  float: right;
  font-size: .7em;
  margin: 0;

}
