<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tree Library</title>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>

    <h1>Trees</h1>

    <form action="/" method="get">
      <button>home page</button>
    </form>

      <% if logged_in? %>

        <a href="/profile/<%= current_user.id %>">
          <img 
          class="photo-icon"
          src="<%= current_user.photo %>"
          alt="<%= current_user.username %>"/>
        </a>

        <form action="/session" method="post">
          <input type="hidden" name="_method" value="delete">
          <button>Logout</button>
        </form>

      <% else %>

        <form action= "/session/new" method="get">
          <button>Login</button>
        </form>

        <form action= "/session/create" method="post">
          <button>Create login</button>
        </form>

      <% end %>


    <%= yield %>

  </body>
</html>
