<h2>Login</h2>

<form action="/session/create/new" method="post">
  <label for="">Email</label>
  <input type="text" name="email">

  <label for="">Username</label>
  <input type="text" name="username">

  <label for="">Password</label>
  <input type="password" name="password">

  <label for="">Photo</label>
  <textarea name="photo" rows="8" cols="40"></textarea>


  <button>Login</button>
</form>
