
<h3>New Tree</h3>

<form action="/trees" method="post">

  <label>Tree Name</label>
  <input type="text" name="name" value="">

  <label>Image url</label>
  <textarea name="image_url" rows="8" cols="40"></textarea>

  <label>Description</label>
  <textarea name="description" rows="8" cols="40"></textarea>

  <label>Location</label>
  <select>
    <% @location.each do |location| %>
      <option value="<% location.postcode %>">
        <%= location.suburb %>
      </option>
    <% end %>
  </select>


  <button>Add entry</button>

</form>
