
.profile {
  width: 100%
}

.user-info {
  width: 30%;
  max-width: 10em;
  float: left;
}

.user-info img {
  width: 100%;
  max-width: 10em;
  /*margin-top: 1.5em;*/
}

.profile-trees {
  width: 65%;
  float: left;
  margin-left: 2em;
}

.profile-trees h3 {
  margin-top: 0;
}

.user-trees {
  padding: 1em;
}

.user-trees h3 {
  display: block;
  float: left;
  margin: 0;
  margin-bottom: 1em;
}

.profile-trees img {
  width: 100%;
  max-width: 25em;
}
